div{
    background-color: rgb(188, 171, 171);
}
.c{
    background-color: gray;
}
h1{
    font-family: arial;
    color: brown;
}
.eu{
    background-color: rgb(255, 255, 255);
}

.e,.u{
    color: brown;
    background-color: rgb(45, 45, 45);
    font-weight: bold;
    text-decoration: underline;
}